$them-bg: #2979ff;
$hover-bg:#80d8ff ;
$site_color:#333;
$light-color:#eee;
$success-color: #029a17;

$global_icon_size:24px;
$global_icon_size_large:64px;
$global_icon_size_x_big:40px;
$global_icon_size_big:30px;
$global_icon_size_small:20px;
$global_icon_size_x_small:16px;
$body-line-height:28px;

$label-width:80px;
