@import "../../../assets/scss/variables";
@import "../../../assets/scss/extend";

.app-error-404 {
  @extend %flex-center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, $them-bg, $hover-bg);
}

.app-error-404-inner {
  @extend %flex-center;
  flex-wrap: wrap;
  align-content: center;
  padding: 20px;
  border-radius: 4px;
  @extend %light-shadow;
  width: 500px;
  background: #fff;

  @media (max-width: 546px) {
    width: 330px;
  }
}

.app-error-404-box {
  width: 100%;
  @extend %flex-center;
  flex-wrap: wrap;
  margin-bottom: 20px;

  > img {
    //width: $error-img-width;

    @media (max-width: 546px) {
      //max-width: 300px;
    }
  }

  > h3 {
    width: 100%;
    font-size: 30px;
    text-align: center;
    padding: 20px 0 10px;
    font-weight: bold;
    @media (max-width: 546px) {
      font-size: 24px;
    }
  }

  > p {
    width: 100%;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    padding: 0 10px;
  }
}

.app-error-404-link {
  @extend %flex-center;

  > a {
    padding: 5px 15px;
    border-radius: 30px;
    margin: 5px 10px 0 0;
    background: $them-bg;
    color: #FFFFFF;
    @extend %transition3;
    @extend %flex-center;
    text-align: center;
    font-weight: bold;

    i {
      margin-left: 5px;
      font-size: $global_icon_size_x_small;
    }

    @media (max-width: 546px) {
      padding: 2px 8px;
      width: auto;
    }

    &:hover {
      background: darken($them-bg, 5%);
    }
  }
}
